.Marvelitem{
  background: linear-gradient(145deg, #cacaca, #f0f0f0);
  box-shadow:  9px 9px 18px #949494,
               -9px -9px 18px #ffffff;
               text-align: center;
  }
  .Marvelitem .p{
      margin-bottom: 0.5rem;
      margin-top: 0.5rem;
      font-weight: 900;
  
  }
  .Marvelitem p{
      margin-bottom: 0.5rem;
      margin-left: 10px;
  
  }
  .Marvelitem .img
  {
      position: relative;
      transition: all 0.5s linear;
  }
  .Marvelitem .img .aye{
     position: absolute;
     transform: translate(-50%, -50%);
     left: 50%;
     top: 50%;
     font-size: 4rem;
     color: #fdfffb;
     z-index: 989;
     opacity: 0;
     transition: all 0.5s linear;
     
  }
  .aye__overlay{
     transition: all 0.5s linear;
      
  }
  .img:hover .aye__overlay{
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.6);
      position: absolute;
      top: 0;
  }
  
  .Marvelitem .img:hover .aye{
      opacity: 1;
  }