 .Marvelitem{
background: linear-gradient(145deg, #cacaca, #f0f0f0);
box-shadow:  9px 9px 18px #949494,
             -9px -9px 18px #ffffff;
             text-align: center;
}
.Marvelitem .p{
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
    font-weight: 900;

}
.Marvelitem p{
    margin-bottom: 0.5rem;
    margin-left: 10px;

}