.banner{
    width: 100%;
    height: 90vh;
    background-image: url('https://github.com/Muhammad2606/for-img-api/blob/main/img/header.jpg?raw=true');
    background-size: 100% 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-attachment: fixed;
}
.banner h1{
    color: aqua;
    font-size: 3rem;
    text-align: center;
}
@media only screen and (max-width: 768px) {
   .banner{
    height: 50vh;
    background-size: cover;

   }
    
}